{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="embed-responsive embed-responsive-16by9">
        <iframe id="player" src="https://www.youtube.com/embed/2XjlhSFjnOo" data-now-playing="" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">Title</div>
        <div class="col-md-2">Duration</div>
    </div>
    <hr>
    {% for youtube in youtubes %}
    <div class="row">
        <div class="col-md-5">{{ youtube.title }}</div>
        <div class="col-md-2">{{ youtube.duration }}</div>
        <div class="col-md-1"><button class="btn btn-default play-button" type="button" data-url="{{ youtube.get_embed(autoplay=1) }}" data-title="{{ youtube.title }}">Play Song</button></div>
    </div>
    <hr>
    {% endfor %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
    const player = document.getElementById("player");

    function playsong(url, title) {
        player.src = url;
        player.dataset.nowPlaying = title;
    }

    let buttons = document.querySelectorAll('button.play-button');
    buttons.forEach((button) => button.addEventListener("click", (event) => playsong(event.target.dataset.url, event.target.dataset.title)));

    </script>
{% endblock %}