{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="embed-responsive embed-responsive-16by9">
        <iframe id="player" src="https://www.youtube.com/embed/2XjlhSFjnOo" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">Title</div>
        <div class="col-md-2">Duration</div>
    </div>
    <hr>
    {% for youtube in youtubes %}
    <div class="row">
        <div class="col-md-5">{{ youtube.title }}</div>
        <div class="col-md-2">{{ youtube.duration }}</div>
        <div class="col-md-1"><button class="btn btn-default" type="button" onclick="playsong('{{ youtube.get_embed(autoplay=1) }}')">Play Song</button></div>
    </div>
    <hr>
    {% endfor %}
    <div>{{youtube.title}}</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
    function playsong(url) {
	    document.getElementById("player").src=url;
    }
    </script>
{% endblock %}